body{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
:root {
	--back-color: #22ACB1;
	--body-color: #3BCFC9;
	--nav-color: #316E88;
	--highlight-color: ;
  }
nav ul {
	list-style-type: none;
	background-color: var(--nav-color);
	overflow: hidden;
	margin: 0;
	padding: 0;
}
nav ul li{
	float:left;
	width: 25%;
	
}
.CurrentPage{
	background-color: var(--back-color);
	
}
li a{
	display: block;
	color: #D3D3D3;
	text-decoration: none;
	text-align:center;
	padding: 18px 0px; 
	/* Should be 15 like the rest but wont stay the same for whatever reason */
}
li a:hover {
	background-color: var(--body-color);
	color: white;
}

main{
	background-color: var(--back-color);
	text-align: center;
	
}
p{
	text-indent: 30px;
}
main article{
	text-align: left;
	margin-top: 2%;
	display: inline-block;
	background-color:var(--body-color);
	width: 70%;
	float: center;
	overflow: hidden;
	padding: 0px 20px;
	border-radius: 20px;
}
.sidebar{
	float: left;
	text-decoration: none;
}
.sidebar li{
	text-decoration: none;
}
.sidebar li a{
	left: 0;
	float: left;
	display:inline-block;
	text-decoration: none;
}
