
:root {
	--back-color: #4c5844;
	--body-color: #3e4637;
	--nav-color: #3e4637;
	--highlight-color: #4c5844;
	--link-color: #c4b550;
	--text-color: #ffffff;
}
body{
	font-family: Tahoma, "Lucida Grande", sans-serif;
	/* other fonts: "Trebuchet MS", "Lucida Sans Unicode",  */
	margin:0px;
	overflow-y: scroll;
	background-color: var(--back-color);
	color: var(--text-color);

}
nav ul {
	list-style-type: none;
	background-color: var(--nav-color);
	overflow: hidden;
	margin: 0;
	padding: 0;
}
nav ul li{
	float:left;
	width: 25%;
	
}
.CurrentPage{
	background-color: var(--back-color);
	
}
li a{
	display: block;
	color: var(--text-color);
	text-decoration: none;
	text-align:center;
	padding: 15px 0px;
}
li a:hover {
	background-color: var(--nav-color);
	color: white;
}

main{
	background-color: var(--back-color);
	text-align: center;
	padding-bottom:40px;
	
}
/* p{
	text-indent: 30px;
} */
main article{
	text-align: left;
	margin-top: 2%;
	display: inline-block;
	background-color:var(--body-color);
	width: 50%;
	overflow: hidden;
	padding: 0px 20px;
	border-radius: 1px;
}

ul.navbar{
	list-style-type: none;
	float: left;
	padding-left: 5%;
}
ul.navbar li{
	padding: 0px;
}
a.top{
	color : var(--link-color);
}
a.top:visited{
	color : var(--link-color);
}
/* May be bad */
#footer{
	clear: both;
	text-align: right;
	font-size: 90%;
}	

ul{
	margin-top: 0;
	margin-bottom: 8px;
}