body{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
nav{
	background-color:#d351ff;
}
nav ul {
	list-style-type: none;
	background-color: #ffed66;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
nav ul li{
	float:left;
	width: 25%;
	
}
.FunClass{
	background-color: #e5d864;
	
}

li a{
	display: block;
	color: gray;
	text-decoration: none;
	text-align:center;
	padding: 15px 0px;
}
li a:hover {
	background-color: #555;
	color: white;
}

main{
	background-color: #b46dce;
	text-align: center;
	
}
p{
	text-indent: 30px;
}
main article{
	text-align: left;
	margin-top: 2%;
	display: inline-block;
	background-color: #fff6b3;
	width: 70%;
	float: center;
	overflow: hidden;
	padding: 0px 20px;
	border-radius: 20px;
}
#sidebar ul{
	
}
#sidebar li a{
	float: left;
	display:inline-block;	
}