body{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
ul{
	list-style-type: none;
}
#header {
  background-color: #8be5f9;
  color: #e0f7fc;
  text-align: center;
}
#everything {
  background-color: #e0f7fc;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}
#body {
	padding: 10px;
}
#nav {
	float: left;
	width: 180px;
	background-color: #FAF17A;
}
#content{
	float: right;
	background-color: #7A80FA;
	width: 600px;
}
#footer{
	clear: both;
	text-align: right;
	background-color: #EFEEE3;
	font-size: 80%;
}	
