body{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
ul{
	list-style-type: none;
	text-align: left;
}
li{
	padding: 3px;
}
#header {
  background-color: #8be5f9;
  color: #e0f7fc;
  text-align: center;
}
#everything {
  background-color: #e0f7fc;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}
#body {
	
	padding: 10px;
}
#nav {
	float: left;
	width: 160px;
	/*background-color: #FAF17A;*/
	
}
#content{
	float: right;
	background-color: #aecff9;
	width: 600px;
	padding: 0px 10px ;
	border-radius: 12px;
	
}
#footer{
	clear: both;
	text-align: right;
	background-color: #EFEEE3;
	font-size: 80%;
}	
.btn{
  background-color: gray;
  border: none;
  color: white;
  padding: 4px 12px;
  text-align: center;
  font-size: 16px;
  width: 80px;
}
.btn:hover {
  background-color: #b7b2b2;
  color: white;
}
.Index{
	background-color:red;
}
.Index:hover{
	background-color:#f7a0a0;
}
