
:root {
    /* colors:
    https://www.reddit.com/r/HalfLife/comments/18v66s2/what_is_the_default_hev_suit_color_for_hl1_is_it/#lightbox
    https://imagecolorpicker.com/ */
	--primary-color: #4c5844;
	--secondary-color:  #3e4637;
	--link-color: #c4b550;
	--text-color: #cdd3c8;
    --drop-color: #000;
    --dark-shadow: #2c3225;
    --light-shadow: #757f6d; 
}
body{
    font-family: "Courier New", monospace;
    background-color: var(--secondary-color);
    margin:0px;
}
.console {
    background-color: var(--primary-color); 
    color: var(--text-color); 
    font-size: 14px; 
    line-height: 1.2; /* Consider removing */
    width: 80%;
    margin: 10px auto; /* centers and spaces */
    margin-top: 0px; /* Allows space for titles */
    box-shadow: 
        inset 1px 1px 0 var(--dark-shadow),
        inset -1px -1px 0 var(--light-shadow);
    overflow: auto; 
    padding: 0 10px; /* Adds space to inner content */
    box-sizing: border-box; /* Ensures padding doesn't affect dimensions */
}
nav ul {
	list-style-type: none;
	background-color: var(--primary-color);
	overflow: hidden;
	margin: 0px;
	padding: 0;
    font-size: clamp(16px, 2vw, 24px);
    
}
nav li{
	float:left;
	width: 25%;
    box-shadow: 
        inset 1px 1px 0 var(--dark-shadow),
        inset -1px -1px 0 var(--light-shadow);
    font-weight: bold; /* Consider removing */
}
nav li a{
	display: block;
	color: var(--text-color);
	text-decoration: none;
	text-align:center;
	padding: 10px 0px;
    text-shadow: 1px 1px 0 var(--drop-color); 
}
nav li a:hover {
	background-color: var(--secondary-color);
	color: white;
    box-shadow: 
        inset 1px 1px 0 var(--dark-shadow),
        inset -1px 1px 0 var(--light-shadow);
}
.CurrentPage{
	background-color: var(--secondary-color);
    box-shadow: 
        inset 1px 1px 0 var(--dark-shadow),
        inset -1px 1px 0 var(--light-shadow);
	
}

.highlight {
    font-style: bold; 
    font-size: calc(1em + 1px); 
    color: var(--link-color); 
    text-decoration: none;
    /* text-shadow: 1px 1px 0 #000;  */
}
.tab{
    text-align: left;
    color: var(--text-color);
    font-size: 14px; /* Adjust font size to suit the design */
    width: 80%; /* Adjust width as needed */
    margin: auto; /* Center the console */
    padding-bottom: 0px;
    overflow: auto; /* Ensure typing effect works */
    text-shadow: 1px 1px 0 var(--drop-color); /* Replace #FF5733 with your chosen hex value */
}

/* link : https://dev.to/afif/a-multi-line-css-only-typewriter-effect-3op3 */
.type {
    font-family: monospace;
    color:#0000;
    background:
      linear-gradient(-90deg,var(--text-color) 5px,#0000 0) 10px 0,
      linear-gradient(var(--text-color) 0 0) 0 0;
    background-size:calc(var(--n)*1ch) 200%;
    -webkit-background-clip:padding-box,text;
    background-clip:padding-box,text;
    background-repeat:no-repeat;
    animation: 
      blinking .7s infinite steps(1),   
      typing calc(var(--n)*.04s) steps(var(--n)) forwards;
  }
  @keyframes typing{
    from {background-size:0 200%}
  }
  @keyframes blinking{
    50% {background-position:0 -100%,0 0}
  }
  
/* For WebKit browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 15px; /* Width of the vertical scrollbar */
    height: 15px; /* Height of the horizontal scrollbar */
}
::-webkit-scrollbar-track {
    background: #5a6a50; /* Background of the scrollbar track */

}
::-webkit-scrollbar-thumb {
    background-color: var(--primary-color); /* Scrollbar color */
    box-shadow: 
        inset 1px 1px 0 var(--light-shadow),  
        inset -1px -1px 0 var(--dark-shadow); 
}

::-webkit-scrollbar-thumb:hover {
    background-color: #2c3225; /* Color when hovered */
}

/* For Firefox (use scrollbar-width and scrollbar-color) */
body {
    scrollbar-width: thin; /* Options: auto, thin, none */
    scrollbar-color: var(--light-shadow) var(--dark-shadow); /* thumb color track color */
}




