body{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
:root {
	--back-color: #AEA7A5;
	--body-color: #E0E1DF;
	--nav-color: #dbd4d3;
	--highlight-color: #f0e7e6;
  }
nav ul {
	list-style-type: none;
	background-color: var(--nav-color);
	overflow: hidden;
	margin: 0;
	padding: 0;
}
nav ul li{
	float:left;
	width: 25%;
	
}
.BusButton{
	background-color: var(--back-color);
	
}
li a{
	display: block;
	color: #474241;
	text-decoration: none;
	text-align:center;
	padding: 15px 0px;
}
li a:hover {
	background-color: var(--highlight-color);
	color: #9c8f8c;
}

main{
	background-color: var(--back-color);
	text-align: center;
	
}
p{
	text-indent: 30px;
}
main article{
	text-align: left;
	margin-top: 2%;
	display: inline-block;
	background-color:var(--body-color);
	width: 70%;
	float: center;
	overflow: hidden;
	padding: 0px 20px;
	border-radius: 20px;
}
.sidebar{
	float: left;
	text-decoration: none;
}
.sidebar li{
	text-decoration: none;
}
.sidebar li a{
	left: 0;
	float: left;
	display:inline-block;
	text-decoration: none;
}
ul.a{
	list-style-type: none;
	float: left;
}
