body{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin:0px;
	overflow-y: scroll;
}
:root {
	--back-color: #266867;
	--body-color: #e9e9e9;
	--nav-color: #17353a;
	--highlight-color: #65898a;
}
nav ul {
	list-style-type: none;
	background-color: var(--nav-color);
	overflow: hidden;
	margin: 0;
	padding: 0;
}
nav ul li{
	float:left;
	width: 25%;
	
}
.BusButton{
	background-color: var(--back-color);
	
}
li a{
	display: block;
	color: #D3D3D3;
	text-decoration: none;
	text-align:center;
	padding: 15px 0px;
}
li a:hover {
	background-color: var(--highlight-color);
	color: black;
}

main{
	background-color: var(--back-color);
	text-align: center;
	
}
p{
	text-indent: 30px;
}
main article{
	text-align: left;
	margin-top: 2%;
	display: inline-block;
	background-color:var(--body-color);
	width: 60%;
	overflow: hidden;
	padding: 0px 20px;
	border-radius: 20px;
}

ul.navbar{
	list-style-type: none;
	float: left;
	padding-left: 5%;
}
ul.navbar li{
	padding: 0px;
}
a.top{
	color : #274079;
}
a.top:visited{
	color : #274079;
}

img{
	width: 60%;
	min-width: 220px;
}
