:root {
	--back-color: #363636;
	--body-color: #fff;
	--highlight-color: #292929;
}
body{
	/* Pick a new font */
	font-family: "Lucida Console", Courier, monospace;
	margin:0px;
	overflow-y: scroll;
	background-color: var(--back-color);
}
main{
	background-color: var(--back-color);
	text-align: center;
	padding-bottom:40px;
	margin-top: 2%;
	
}
main article{
	text-align: left;
	display: inline-block;
	background-color:var(--body-color);
	width: 60%;
	overflow: hidden;
	padding: 0px 20px;
	border-radius: 1px;
}
/* Left Navbar Options */
ul.navbar{
	list-style-type: none;
	float: left;
	margin: 0px;
	padding: 0px;
}
ul.navbar a{
	/* the highlightable region of the link */
	padding: 7px;
	padding-left: 20px;
}
.navLink, .CurrentPage{
	display: block;
	color: #ffffff;
	text-decoration: none;
	text-align:left;
	
}
.CurrentPage {
	background-color: var(--highlight-color);
	
}
ul.navbar a:hover{
	background-color: var(--highlight-color);
	color: white;
}
#sublist li {
	list-style-type: none;
}
#sublist a {
	display: block;
	color: #ffffff;
	text-decoration: none;
	text-align:right; 
}