
:root {
	--back-color: #363636;
	--body-color: #fff;
	--nav-color: #fff;
	--highlight-color: #292929;
}
body{
	/* Pick a new font */
	font-family: "Lucida Console", Courier, monospace;
	margin:0px;
	overflow-y: scroll;
	background-color: var(--back-color);
}
.CurrentPage{
	background-color: var(--highlight-color);
	
}


main{
	background-color: var(--back-color);
	text-align: center;
	padding-bottom:40px;
	
}
main article{
	text-align: left;
	margin-top: 2%;
	display: inline-block;
	background-color:var(--body-color);
	width: 50%;
	overflow: hidden;
	padding: 0px 20px;
	border-radius: 20px;
}

ul.navbar{
	list-style-type: none;
	float: left;
	padding-left: 5%;
}
ul.navbar li{
	/* The Clickable Range 
		Slight space on sides
		Tiny space top/bottom
	 */
	padding-left: 15px;
	padding-right: 15px;
	
	/* The Non-clickable Range */
	margin-top: 15px;
	margin-bottom: 15px;
}
ul.navbar li a, .CurrentPage{
	display: block;
	color: #ffffff;
	text-decoration: none;
	text-align:center;
	
}
ul.navbar li:hover {
	background-color: var(--highlight-color);
	color: white;
}